body{
	width: 980px;
	height: 1386px;
	margin: 0 auto;
	overflow: hidden;
}
.header{
	position: relative;
	width:892px;
	height:61px;
	margin:auto;
	border-bottom: 2px solid #938e8c;
}
.headerLeft{
	position: relative;
	width: 110px;
	height:61px;
	display: inline-block;
	background-color: #A52A2A;
}

.headerLeftText{
	font-size: 12px;
	font-family: "黑体";
	color:white;
	position: absolute;
	bottom:3px;
	left:5px;
	text-align: left;
}
.headerRight{
	position: absolute;
	display: inline-block;
	font-size: 12px;
	font-family: "黑体";
	color: #d45d5c;
	right:0px;
	bottom:3px;
}
.body1{
	position: relative;
	width:892px;
	height:301px;
	margin:auto;
}
.pic1{
	display: inline-block;
	width:641px;
	height:301px;
	position: absolute;
	top: 20px;
}
#pic1{
	width:641px;
	height:301px;
}
#green_msk{
	width:191px;
	height:301px;
	background: green;
	position: absolute;
	opacity:0.30;
	top:0;
	left:0px;
}
#red_msk{
	width:191px;
	height:301px;
	background: red;
	position: absolute;
	opacity:0.30;
	top:0;
	right:0px;
}

.body1_text{
	position:absolute;
	right:0;
	top: 20px;
	display: inline-block;
	width:203px;
	border-top: 2px solid #cc8091;

}
.about, .technology{
	padding: 0;
	margin: 0;
	font-family: "Microsoft YaHei";
	font-size: 24px;
	color: #000000;
	border-bottom: 
}
.firstLetterBold:first-letter{
	font-size: 120%;
}
.subAboutTechnology{
	font-size: 12px;
	color:#676767;
	font-family: "KaiTi";
}
.text700{
	margin: 0;
	padding: 0;
	font-size: 116px;
	line-height: 110px;
	font-family: "Microsoft YaHei";
	color:#75b86b;
}
.body1_text_text_content1{
	display: inline-block;
	color:#cc8091;
	font-size: 55px;
	font-family: "Microsoft YaHei";
}
.body1_text_text_content2{
	display: inline-block;
	font-family: "Microsoft YaHei";
}
.body1_text_text_text1{
	font-size: 21px;
	color:#cc8091;
}
.body1_text_text_text2{
	font-size: 12px;
	color:#808080;
}

.body2{
	position: relative;
	width:892px;
	margin:auto;
}
.body2_text1{
	display: inline-block;
	vertical-align: top;
	width:230px;
	margin-top:20px;

}
.body2_text1_what{
	margin: 20px 0px 5px 0px;
	font-size: 16px;
	color:#418c59;
	font-family: "Microsoft YaHei";
}
.body2_text1_content{
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	font-size: 12px;
	line-height: 16px;
	color: #767777;
	font-family: "SimSun";
}

.body2_text2{
	display: inline-block;
	vertical-align: top;
	opacity: 0.3;
	width:210px;
	margin-top:20px;
	margin-left: 10px;
}
.body2_text2_when{
	margin: 20px 0px 5px 0px;
	font-size: 16px;
	color:#d2994f;
	font-family: "Microsoft YaHei";
}
.body2_text2_content{
	margin: 0;
	word-wrap: break-word;
	color: #231815;
	line-height: 17px;
	font-size: 12px;
	font-family: "Microsoft YaHei";

}
.body2_text3{
	display: inline-block;
	vertical-align: top;
	opacity: 0.3;
	width:180px;
	margin-top:20px;
	margin-left: 10px;
}
.body2_text3_how{
	margin: 20px 0px 5px 0px;
	font-size: 16px;
	color:#cc7680;
	font-family: "Microsoft YaHei";
}
.body2_text3_content{
	margin: 0;
	word-wrap: break-word;
    font-size: 12px;
    line-height: 20px;
	font-family: "SimSun";

}
ul.body2_text3_ul{
	list-style: none;
	padding: 0;
	margin-top: 15px;
}
ul li span{
	font-size: 12px;
	line-height: 16px;
	color: #cd4a48;
	font-family: "Microsoft YaHei";
}





