* {
    margin: 0;
    padding: 0;
}
nav {
    background-color: black;
    width: 100%;
}

header {
    margin-bottom: 20px;
}

.header-ul {
    position: absolute;
    top: 25px;
    right: 50px;
}
.header-ul li {
    display: inline-block;
}
.header-ul li a{
    color: white;
    text-decoration: none;
}

.content-intro, .content-member-logo, .content-logo {
    background: white;
    padding: 20px;
}

.content-logo {
    float: left;
    width: 200px;
    border: 1px solid;
}

.content-intro {
    margin: 0 200px 20px 270px;
    border: 1px solid;

}



.content-member-logo {
    width: 120px;
    border: 1px solid;
    float: right;
}

.content-member-logo:after {
    content:"";
    display:table;
    clear:both;
}

.content-logo img {
    height: 80px;
    width: 80px;
    float: left;
    margin-top: -20px;
    margin-right: 20px;
}

.content-member-logo img {
    height: 80px;
    width: 80px;
    display: block;
    margin: 10px auto 10px auto;

}



.content-logo h2 {
    font-size: 20px;
    font-weight: bold;
}


.main {
    padding: 20px;
    background-color: #eee;
    border: solid #999;
    margin-top: 20px;
    width: 95%;
}
/*
 * clear fix
 */
.main:after, .content-logo:after {
    content:"";
    display:table;
    clear:both;
}

article, aside {
    margin: 40px auto 40px auto;
    width: 95%;
    background-color: white;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 30px 0 30px 10px;
}

